@import url(https://fonts.googleapis.com/css?family=Work+Sans:300);

* {
  margin: 0;
  padding: 0;
}

*::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
  background: white;
}

.header {
  text-align: right;
  padding: 20px 80px;
  position: relative;
}

.hamburger {
  width: 40px;
  height: 28px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  z-index: 100;
}

.hamburger span {
  background: black;
  display: block;
  position: absolute;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  opacity: 1;
  width: 100%;
  left: 0;
}

.hamburger span:nth-child(1) {
  top: 0px;
}

.hamburger span:nth-child(2) {
  top: 12px;
}

.hamburger span:nth-child(3) {
  top: 24px;
}

.hamburger.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.hamburger.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(193, 193, 193);
  opacity: 0;
  visibility: visible;
  z-index: 99;
  text-align: center;
  display: table;
  -webkit-transition: visibility 0.5s ease, opacity 1s ease;
  -moz-transition: visibility 0.5s ease, opacity 1s ease;
  -o-transition: visibility 0.5s ease, opacity 1s ease;
  transition: visibility 0.5s ease, opacity 1s ease;
}

.menu-overlay.open {
  opacity: 1;
  visibility: visible;
}

.nav {
  display: table-cell;
  vertical-align: middle;
}

.nav li {
  margin: 20px 0;
  -moz-transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.open .nav li {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.open .nav li:nth-child(1) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

.open .nav li:nth-child(2) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}

.open .nav li:nth-child(3) {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}

.open .nav li:nth-child(4) {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}

.open .nav li:nth-child(5) {
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
}

.open .nav li:nth-child(6) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}

.open .nav li:nth-child(7) {
  -webkit-transition-delay: 700ms;
  transition-delay: 700ms;
}

.open .nav li:nth-child(8) {
  -webkit-transition-delay: 800ms;
  transition-delay: 800ms;
}

.nav a {
  display: block;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav a:hover {
  opacity: 0.6;
}

.demo {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.demo h1 {
  margin-top: 0;
}

.titletxt {
  color: rgb(110, 137, 157);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  line-height: 25.33333396911621px;
 }
























.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  margin-top: auto;
  background-color: rgb(193, 193, 193);
}

#footertxt {
  list-style: none;
  clear: left;
  display: block;
}

h3 {
  color: white;
  vertical-align: bottom;
  font-size: 10px;
  text-align: center;
}

.PrivacyPolicy {
  color: white;
  text-decoration: none;
}

.TermsConditions {
  color: white;
  text-decoration: none;
}

.Name {
  font-size: 15px;
  margin-left: -15px;
  margin-bottom: 10px;
}
