@import url(https://fonts.googleapis.com/css?family=Work+Sans:300);









.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  margin-top: auto;
  background-color: rgb(193, 193, 193);
}

#footertxt {
  list-style: none;
  clear: left;
  display: block;
}

h3 {
  color: white;
  vertical-align: bottom;
  font-size: 10px;
  text-align: center;
}

.PrivacyPolicy {
  color: white;
  text-decoration: none;
}

.TermsConditions {
  color: white;
  text-decoration: none;
}

.Name {
  font-size: 15px;
  margin-left: -15px;
  margin-bottom: 10px;
}
