@import url(https://fonts.googleapis.com/css?family=Work+Sans:300);

* {
  margin: 0;
  padding: 0;
}

*::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
  background: white;
}

.header {
  text-align: right;
  padding: 20px 80px;
  position: relative;
}








.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  margin-top: auto;
  background-color: rgb(193, 193, 193);
}

#footertxt {
  list-style: none;
  clear: left;
  display: block;
}

h3 {
  color: white;
  vertical-align: bottom;
  font-size: 10px;
  text-align: center;
}

.PrivacyPolicy {
  color: white;
  text-decoration: none;
}

.TermsConditions {
  color: white;
  text-decoration: none;
}

.Name {
  font-size: 15px;
  margin-left: -15px;
  margin-bottom: 10px;
}
